<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- Office -->
    <add key="ParammeterFilesFolder" value="C:\Projects\SafeArrivalOld\sa-stack-tool\"/>
    <add key="InfraFileFolder" value="C:\Projects\SafeArrivalOld\safearrival-infra\"/>
	<!-- Home PC 
	<add key="ParammeterFilesFolder" value="D:\Intrafinity Projects\SafeArrival\sa-stack-tool\"/>
    <add key="InfraFileFolder" value="D:\Intrafinity Projects\SafeArrival\safearrival-infra\"/>-->
	
    <add key="Role" value="SAFE-Admin_role"/>
    <add key="GreenBlueEnvs" value="infra"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>